body{
  background: #F3F5FA;
}

.card{
  width: 50%;
  margin: auto;
  margin-top: 50pt;
  
  border-radius: 10pt;
  padding: 10pt;

}


.card-body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.form_control{
  
  outline: none;
  padding: 8pt;
  border-radius: 10pt;
  border: 1px solid rgba(0,0,0,0.4);
  flex: 0.5;
  margin: 0pt 5pt;


}

.swap_box{
  display: grid;
  grid-template-columns: 50% 50%;
  margin:5pt;
  justify-content: space-around;
  align-items: center;
  padding:10pt;
  border-radius: 10pt;
  width:100%
}

.card-title{
  
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 10pt;
  color: #6C86AD;
  font-weight: 450;

}

.btn-primary{
  width:100%;
  background:linear-gradient(269.27deg, #2F8AF5 .52%, #0361CE 48.96%, #0FBEE4 100%);
  padding:10pt;
  border-radius: 10pt;
}

.cardz{
  background: #F3F5FA;
}

#token_select_2:hover{
  cursor: pointer;
  cursor: pointer;
  box-shadow: 1px 1px 0px 0.1px rgba(255,255,255,0.5);
  color:rgba(0,0,0,0.6);
  font-weight: 500;
}

#token_select_1{
  background: #F3F5FA;
  height: 100%;
  display: flex;
  padding: 10pt;
  border-radius: 10pt;
  color: rgba(0,0,0,0.3);
  justify-content: center;
  align-items: center;
}

#token_select_2{
  background: #F3F5FA;
  height: 100%;
  display: flex;
  padding: 10pt;
  border-radius: 10pt;
  color: rgba(0,0,0,0.3);
  justify-content: center;
  align-items: center;
}

#token_select_1:hover{
  cursor: pointer;
  box-shadow: 1px 1px 0px 0.1px rgba(255,255,255,0.5);
  color:rgba(0,0,0,0.6);
  font-weight: 500;
}

.modal{
  background:rgba(0, 0, 0, 0.3);
}

.modal-body{
  height:50vh;
  overflow-y:scroll;
}

.token_List_img{
  width:40pt;
  height:40pt;
  margin-right: 15pt;
}

.token_row{
  display: flex;
  align-items: center;
  padding:10pt;
  margin: 5pt;
}

.token_row:hover{
  background: rgba(0,0,0,0.6);
  color: white;
  cursor: pointer;
}